<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko_KR</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb526260221420236</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.playpet.me</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.386527552204-dt1dlpoamhhgntobabq7geet48punfjb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao094f951fd9631043a18f5b644f030810</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.952410130595-kh8sl2tj76ccophjdigfo0lt5pil8jq1</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<true/>
	<key>FacebookAppID</key>
	<string>526260221420236</string>
	<key>FacebookDisplayName</key>
	<string>playpet</string>
	<key>FirebaseCrashlyticsCollectionEnabled</key>
	<true/>
	<key>FirebaseDynamicLinksCustomDomains</key>
	<array>
		<string>https://custom.domain.io/bla</string>
		<string>https://custom.domain.io/bla2</string>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>094f951fd9631043a18f5b644f030810</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
        <string>kftc-bankpay</string> <!-- 계좌이체 -->
        <string>ispmobile</string> <!-- ISP모바일 -->
        <string>itms-apps</string> <!-- 앱스토어 -->
        <string>hdcardappcardansimclick</string> <!-- 현대카드-앱카드 -->
        <string>smhyundaiansimclick</string> <!-- 현대카드-공인인증서 -->
        <string>shinhan-sr-ansimclick</string> <!-- 신한카드-앱카드 -->
        <string>smshinhanansimclick</string> <!-- 신한카드-공인인증서 -->
        <string>kb-acp</string> <!-- 국민카드-앱카드 -->
        <string>mpocket.online.ansimclick</string> <!-- 삼성카드-앱카드 -->
        <string>ansimclickscard</string> <!-- 삼성카드-온라인결제 -->
        <string>ansimclickipcollect</string> <!-- 삼성카드-온라인결제 -->
        <string>vguardstart</string> <!-- 삼성카드-백신 -->
        <string>samsungpay</string> <!-- 삼성카드-삼성페이 -->
        <string>scardcertiapp</string> <!-- 삼성카드-공인인증서 -->
        <string>lottesmartpay</string> <!-- 롯데카드-모바일결제 -->
        <string>lotteappcard</string> <!-- 롯데카드-앱카드 -->
        <string>cloudpay</string> <!-- 하나카드-앱카드 -->
        <string>nhappcardansimclick</string> <!-- 농협카드-앱카드 -->
        <string>nonghyupcardansimclick</string> <!-- 농협카드-공인인증서 -->
        <string>citispay</string> <!-- 씨티카드-앱카드 -->
        <string>citicardappkr</string> <!-- 씨티카드-공인인증서 -->
        <string>citimobileapp</string> <!-- 씨티카드-간편결제 -->
        <string>kakaotalk</string> <!-- 카카오톡 -->
        <string>payco</string> <!-- 페이코 -->
        <string>lpayapp</string> <!-- 롯데 L페이 -->
        <string>hanamopmoasign</string> <!-- 하나카드 공인인증앱 -->
        <string>wooripay</string> <!-- 우리페이 -->
        <string>nhallonepayansimclick</string> <!-- NH 올원페이 -->
        <string>hanawalletmembers</string> <!-- 하나카드(하나멤버스 월렛) -->
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to use your microphone (for videos)</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to save photos to your photo gallery</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) permission to save photos</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
